<?xml version="1.0"?>
<config>
    <modules>
        <Goldenscent_Partner>
            <version>1.0.0</version>
        </Goldenscent_Partner>
    </modules>
    <events>
        <controller_action_layout_render_before>
            <observers>
                <goldenscent_partner_cookie>
                    <type>singleton</type>
                    <class>goldenscent_partner/observer</class>
                    <method>setCookie</method>
                </goldenscent_partner_cookie>
            </observers>
        </controller_action_layout_render_before>
        <checkout_onepage_controller_success_action>
            <observers>
                <goldenscent_partner_order>
                    <type>singleton</type>
                    <class>goldenscent_partner/observer</class>
                    <method>splitOrder</method>
                </goldenscent_partner_order>
            </observers>
        </checkout_onepage_controller_success_action>
    </events>
    <helpers>
        <goldenscent_partner>
            <class>Goldenscent_Partner_Helper</class>
        </goldenscent_partner>
    </helpers>
    <resources>
        <goldenscent_partner_setup>
            <setup>
                <module>Goldenscent_Partner</module>
            </setup>
        </goldenscent_partner_setup>
    </resources>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <customgrid_column_append>
                        <type>model</type>
                        <class>Goldenscent_Partner_Model_Observer</class>
                        <method>appendCustomColumn</method>
                    </customgrid_column_append>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <goldenscent_partner_order_load_before>
                        <model>goldenscent_partner/observer</model>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </goldenscent_partner_order_load_before>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>
    </adminhtml>
</config>